<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhixiang.com.news_mvp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".News"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity android:name=".module.MainActivity">
        </activity>
         //欢迎页
        <activity android:name=".module.home.Welcome_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //首页
        <activity
            android:name=".module.home.Home_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".module.news.channel.ChannelActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>